* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@media only screen and (min-width: 360px) {
    .BgPrincipal {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
        width: 100%;
        text-align: center;

        .imgPrincipal {
            background-image: url(./assets/WhatsApp\ Image\ 2023-09-02\ at\ 16.37.57.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            margin-left: -170px;

            h3 {
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-size: 22px;
                margin-left: 80px;
                font-weight: bolder;
                margin-top: 400px;
                font-family: 'Raleway', sans-serif;
            }

            h1 {
                text-align: center;
                color: white;
                font-size: 85px;
                font-weight: bold;
                margin-left: 165px;
                font-family: 'Parisienne', cursive;
                margin-top: -15px;
                margin-bottom: -15px;
            }

            h2 {
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
                margin-left: 240px;
                font-family: 'Raleway', sans-serif;
                letter-spacing: 0.2cm;
            }
        }
        $ani-speed: 2s;
        $ani-delay: 1s;
        
        .arrow {
            opacity: 0;
            position: absolute;
                left: 50%;
                top: 50%;
                margin-top: 280px;
            transform-origin: 50% 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        
        .arrow-first {
            animation: arrow-movement $ani-speed ease-in-out infinite;
        }
        .arrow-second {
            animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
        }
        
        .arrow:before,
        .arrow:after {
            background: #fff;
            content: '';
            display: block;
            height: 3px; 
            position: absolute;
                top: 0;
                left: 0;
            width: 30px;
        }
        
        .arrow:before {
            transform: rotate(45deg) translateX(-23%);
            transform-origin: top left;
        }
        
        .arrow:after {
            transform: rotate(-45deg) translateX(23%);
            transform-origin: top right;
        }
        
        // Animation
        @keyframes arrow-movement {
            0% { 
                opacity: 0;
                top: 45%;
            }
            70% {
                opacity: 1;
            }
            100% { 
                opacity: 0;
            }
        }

    }

    .ContadorDias {
        display: flex;
        flex-direction: column;
        background-color:rgb(242,203,194);
        height: 15vh;
        width: 100%;
        justify-content: center;

        h3 {
            color: white;
            text-align: center;
            font-size: 25px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family:'Raleway', sans-serif; 
        }
    }

    .CeremoniaFiesta {
        background-color: white;
        height: 60vh;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        h3{
            color: black;
            font-weight: bold;
            font-family:'Raleway', sans-serif; ;
            text-transform: uppercase;
        }
        p{
            color: black;
            font-size: 15px;
        }
        .botoncito2{
            background-color: #f2cac2;
            color: white;
            font-family:'Raleway', sans-serif; 
            justify-content: center;
            border-radius: 2em;
            width: 250px;
        }
    }


    .nosotros{
        h3 {
            color: black;
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
    }

    .galeria {
        display: flex;
        width: 88%;
        margin-top: 25px;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        z-index: 1;
    }
    
    .galeria .foto {
        width: 250px;
        height: 250px;
        position: relative;
        margin-bottom: 35px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
        transition: 0.6s ease;
    }
    .galeria .foto:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    }
    
    .foto img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
        width: 100%;
        height: 0;
        transition: 0.55s ease;
        overflow: hidden;
    }
    .overlay h2 {
        color: #fff;
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .foto:hover .overlay {
        height: 100%;
        cursor: pointer;
        border-radius: 5px;
    }
    
    /*---------------------*/
    
    .contenedor-modal.active {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .contenedor-modal.active img {
        z-index: 3;
        width: 400px;
        height: 400px;
    }
    
    .contenedor-modal.active::after {
        position: fixed;
        content: '';
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(211, 211, 211, 0.459);
    }


    .Regalo{
        background-color: rgb(242,203,194);
        height: 40vh;
        width: 100%;
        text-align: center;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        p{
            color: white;
            margin-top: 5px;
            margin-bottom: 25px;
            font-family:'Raleway', sans-serif;
            font-size: 15px;
        }
        .botoncito{
            background-color: white;
            color: #f2cac2;
            font-family:'Raleway', sans-serif; 
            justify-content: center;
            border-radius: 2em;
            width: 250px;
        }
}

.datosBancarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(242,203,194);
    height: 40vh;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif; ;
    span{
        font-family:'Raleway', sans-serif; 
        font-weight: bolder;
        color: white;
        }
    }

    .ConfirmarAsistencia{
        height: 40vh;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h3{
            text-transform: uppercase;
            font-weight: bolder;
            margin-bottom: 15px;
            font-family:'Raleway', sans-serif; 
        }
        p{
            color: black;
            margin-bottom: 25px;
        }
        .w3-button{
            border-radius: 2em;
            background-color: rosybrown;
            width: 220px;
            text-transform: uppercase;
        }
    }

    .DressCode{
        height: 20vh;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: teal;
        h3{
            text-transform: uppercase;  
            color: white;     
            font-weight: bolder;
            margin-bottom: 10px;
            font-family:'Raleway', sans-serif; 
        }
        p{
            color: white;
            font-family:'Raleway', sans-serif; 
            
        }
    }
    .spotifyLista{
        height: 50vh;
        width: 100%;
        color: black;
        text-align: center;
        justify-content: center;
        background-color: white;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        h2{
            color: black;
            font-weight: bolder;
            text-transform: uppercase;
        }
        p{
            color: black;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .w3-button{
            border-radius: 2em;
            background-color: rosybrown;
            width: 250px;
            text-transform: uppercase;
            color: white;
        }
    }
    .gracias{
        height: 10vh;
        width: 100%;
        background-color: rgb(242,203,194);
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            text-align: center;
            color: white;
            font-family: 'Raleway', sans-serif; 
            font-size: 20px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .BgPrincipal {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
        width: 100%;
        text-align: center;

        .imgPrincipal {
            background-image: url(./assets/WhatsApp\ Image\ 2023-09-02\ at\ 16.37.57.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            margin-left: -170px;

            h3 {
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-size: 22px;
                margin-left: 80px;
                font-weight: bolder;
                margin-top: 400px;
                font-family: 'Raleway', sans-serif;
            }

            h1 {
                text-align: center;
                color: white;
                font-size: 85px;
                font-weight: bold;
                margin-left: 165px;
                font-family: 'Parisienne', cursive;
                margin-top: -15px;
                margin-bottom: -15px;
            }

            h2 {
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
                margin-left: 240px;
                font-family: 'Raleway', sans-serif;
                letter-spacing: 0.2cm;
            }
        }
        $ani-speed: 2s;
        $ani-delay: 1s;
        
        .arrow {
            opacity: 0;
            position: absolute;
                left: 50%;
                top: 50%;
                margin-top: 280px;
            transform-origin: 50% 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        
        .arrow-first {
            animation: arrow-movement $ani-speed ease-in-out infinite;
        }
        .arrow-second {
            animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
        }
        
        .arrow:before,
        .arrow:after {
            background: #fff;
            content: '';
            display: block;
            height: 3px; 
            position: absolute;
                top: 0;
                left: 0;
            width: 30px;
        }
        
        .arrow:before {
            transform: rotate(45deg) translateX(-23%);
            transform-origin: top left;
        }
        
        .arrow:after {
            transform: rotate(-45deg) translateX(23%);
            transform-origin: top right;
        }
        
        // Animation
        @keyframes arrow-movement {
            0% { 
                opacity: 0;
                top: 45%;
            }
            70% {
                opacity: 1;
            }
            100% { 
                opacity: 0;
            }
        }

    }

    .ContadorDias {
        display: flex;
        flex-direction: column;
        background-color:rgb(242,203,194);
        height: 15vh;
        width: 100%;
        justify-content: center;

        h3 {
            color: white;
            text-align: center;
            font-size: 25px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family:'Raleway', sans-serif; 
        }
    }

    .CeremoniaFiesta {
        background-color: white;
        height: 60vh;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        h3{
            color: black;
            font-weight: bold;
            font-family:'Raleway', sans-serif; ;
            text-transform: uppercase;
        }
        p{
            color: black;
            font-size: 15px;
        }
        .botoncito2{
            background-color: #f2cac2;
            color: white;
            font-family:'Raleway', sans-serif; 
            justify-content: center;
            border-radius: 2em;
            width: 250px;
        }
    }

    
    .nosotros{
        h3 {
            color: black;
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
    }

    .galeria {
        display: flex;
        width: 88%;
        margin-top: 25px;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        z-index: 1;
    }
    
    .galeria .foto {
        width: 250px;
        height: 250px;
        position: relative;
        margin-bottom: 35px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
        transition: 0.6s ease;
    }
    .galeria .foto:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    }
    
    .foto img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
        width: 100%;
        height: 0;
        transition: 0.55s ease;
        overflow: hidden;
    }
    .overlay h2 {
        color: #fff;
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .foto:hover .overlay {
        height: 100%;
        cursor: pointer;
        border-radius: 5px;
    }
    
    /*---------------------*/
    
    .contenedor-modal.active {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .contenedor-modal.active img {
        z-index: 3;
        width: 400px;
        height: 400px;
    }
    
    .contenedor-modal.active::after {
        position: fixed;
        content: '';
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(211, 211, 211, 0.459);
    }

    .Regalo{
        background-color: rgb(242,203,194);
        height: 40vh;
        width: 100%;
        text-align: center;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        p{
            color: white;
            margin-top: 5px;
            margin-bottom: 25px;
            font-family:'Raleway', sans-serif;
            font-size: 15px;
        }
        .botoncito{
            background-color: white;
            color: #f2cac2;
            font-family:'Raleway', sans-serif; 
            justify-content: center;
            border-radius: 2em;
            width: 250px;
        }
}

.datosBancarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(242,203,194);
    height: 40vh;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif; ;
    span{
        font-family:'Raleway', sans-serif; 
        font-weight: bolder;
        color: white;
        }
    }

    .ConfirmarAsistencia{
        height: 40vh;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h3{
            text-transform: uppercase;
            font-weight: bolder;
            margin-bottom: 15px;
            font-family:'Raleway', sans-serif; 
        }
        p{
            color: black;
            margin-bottom: 25px;
        }
        .w3-button{
            border-radius: 2em;
            background-color: rosybrown;
            width: 220px;
            text-transform: uppercase;
        }
    }

    .DressCode{
        height: 20vh;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: teal;
        h3{
            text-transform: uppercase;  
            color: white;     
            font-weight: bolder;
            margin-bottom: 10px;
            font-family:'Raleway', sans-serif; 
        }
        p{
            color: white;
            font-family:'Raleway', sans-serif; 
            
        }
    }
    .spotifyLista{
        height: 50vh;
        width: 100%;
        color: black;
        text-align: center;
        justify-content: center;
        background-color: white;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        h2{
            color: black;
            font-weight: bolder;
            text-transform: uppercase;
        }
        p{
            color: black;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .w3-button{
            border-radius: 2em;
            background-color: rosybrown;
            width: 250px;
            text-transform: uppercase;
            color: white;
        }
    }
    .gracias{
        height: 10vh;
        width: 100%;
        background-color: rgb(242,203,194);
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            text-align: center;
            color: white;
            font-family: 'Raleway', sans-serif; 
            font-size: 20px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .BgPrincipal {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
        width: 100%;
        text-align: center;

        .imgPrincipal {
            background-image: url(./assets/WhatsApp\ Image\ 2023-09-02\ at\ 16.37.57.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;

            h3 {
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-size: 22px;
                margin-left: 80px;
                font-weight: bolder;
                margin-top: 400px;
                font-family: 'Raleway', sans-serif;
            }

            h1 {
                text-align: center;
                color: white;
                font-size: 85px;
                font-weight: bold;
                margin-left: 165px;
                font-family: 'Parisienne', cursive;
                margin-top: -15px;
                margin-bottom: -15px;
            }

            h2 {
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
                margin-left: 240px;
                font-family: 'Raleway', sans-serif;
                letter-spacing: 0.2cm;
            }
        }
        $ani-speed: 2s;
        $ani-delay: 1s;
        
        .arrow {
            opacity: 0;
            position: absolute;
                left: 50%;
                top: 50%;
                margin-top: 280px;
            transform-origin: 50% 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        
        .arrow-first {
            animation: arrow-movement $ani-speed ease-in-out infinite;
        }
        .arrow-second {
            animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
        }
        
        .arrow:before,
        .arrow:after {
            background: #fff;
            content: '';
            display: block;
            height: 3px; 
            position: absolute;
                top: 0;
                left: 0;
            width: 30px;
        }
        
        .arrow:before {
            transform: rotate(45deg) translateX(-23%);
            transform-origin: top left;
        }
        
        .arrow:after {
            transform: rotate(-45deg) translateX(23%);
            transform-origin: top right;
        }
        
        // Animation
        @keyframes arrow-movement {
            0% { 
                opacity: 0;
                top: 45%;
            }
            70% {
                opacity: 1;
            }
            100% { 
                opacity: 0;
            }
        }

    }

    .ContadorDias {
        display: flex;
        flex-direction: column;
        background-color:rgb(242,203,194);
        height: 15vh;
        width: 100%;
        justify-content: center;

        h3 {
            color: white;
            text-align: center;
            font-size: 25px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family:'Raleway', sans-serif; 
        }
    }

    .CeremoniaFiesta {
        background-color: white;
        height: 60vh;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        h3{
            color: black;
            font-weight: bold;
            font-family:'Raleway', sans-serif; ;
            text-transform: uppercase;
            
        }
        p{
            color: black;
            font-size: 15px;
        }
        .botoncito2{
            background-color: #f2cac2;
            color: white;
            font-family:'Raleway', sans-serif; 
            justify-content: center;
            border-radius: 2em;
            width: 250px;
        }
    }

    
    .nosotros{
        h3 {
            color: black;
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
    }

    .galeria {
        display: flex;
        width: 88%;
        margin-top: 25px;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        z-index: 1;
    }
    
    .galeria .foto {
        width: 250px;
        height: 250px;
        position: relative;
        margin-bottom: 35px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
        transition: 0.6s ease;
    }
    .galeria .foto:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    }
    
    .foto img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
        width: 100%;
        height: 0;
        transition: 0.55s ease;
        overflow: hidden;
    }
    .overlay h2 {
        color: #fff;
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .foto:hover .overlay {
        height: 100%;
        cursor: pointer;
        border-radius: 5px;
    }
    
    /*---------------------*/
    
    .contenedor-modal.active {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .contenedor-modal.active img {
        z-index: 3;
        width: 400px;
        height: 400px;
    }
    
    .contenedor-modal.active::after {
        position: fixed;
        content: '';
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(211, 211, 211, 0.459);
    }

    .Regalo{
        background-color: rgb(242,203,194);
        height: 40vh;
        width: 100%;
        text-align: center;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        p{
            color: white;
            margin-top: 5px;
            margin-bottom: 25px;
            font-family:'Raleway', sans-serif;
            font-size: 15px;
        }
        .botoncito{
            background-color: white;
            color: #f2cac2;
            font-family:'Raleway', sans-serif; 
            justify-content: center;
            border-radius: 2em;
            width: 250px;
        }
}

.datosBancarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(242,203,194);
    height: 40vh;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif; ;
    span{
        font-family:'Raleway', sans-serif; 
        font-weight: bolder;
        color: white;
        }
    }

    .ConfirmarAsistencia{
        height: 40vh;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h3{
            text-transform: uppercase;
            font-weight: bolder;
            margin-bottom: 15px;
            font-family:'Raleway', sans-serif; 
        }
        p{
            color: black;
            margin-bottom: 25px;
        }
        .w3-button{
            border-radius: 2em;
            background-color: rosybrown;
            width: 220px;
            text-transform: uppercase;
        }
    }

    .DressCode{
        height: 20vh;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: teal;
        h3{
            text-transform: uppercase;  
            color: white;     
            font-weight: bolder;
            margin-bottom: 10px;
            font-family:'Raleway', sans-serif; 
        }
        p{
            color: white;
            font-family:'Raleway', sans-serif; 
            
        }
    }
    .spotifyLista{
        height: 50vh;
        width: 100%;
        color: black;
        text-align: center;
        justify-content: center;
        background-color: white;
        img{
            height: 70px;
            width: 70px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        h2{
            color: black;
            font-weight: bolder;
            text-transform: uppercase;
        }
        p{
            color: black;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .w3-button{
            border-radius: 2em;
            background-color: rosybrown;
            width: 250px;
            text-transform: uppercase;
            color: white;
        }
    }
    .gracias{
        height: 10vh;
        width: 100%;
        background-color: rgb(242,203,194);
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            text-align: center;
            color: white;
            font-family: 'Raleway', sans-serif; 
            font-size: 20px;
        }
    }
}




